<h2>เกี่ยวกับเรา</h2>
<hr />
<h3>ประวัติร้านจุนตา</h3>
<div class="row">
  <div class="col-4">

  </div>
  <div class="col-8">
    <p style="font-size:24px;">

      ชื่อร้าน: NAMKUB-Store

      ประวัติร้านอาหาร:
      
      NAMKUB-Store ก่อตั้งขึ้นในปี 2020 โดยเชฟหนุ่มมากความสามารถและเต็มเปี่ยมไปด้วยความหลงใหลในอาหาร เชฟ [ชื่อเชฟ] เริ่มต้นจากการทำอาหารในครัวของครอบครัวมาตั้งแต่เด็ก เขาได้รับแรงบันดาลใจจากสูตรอาหารดั้งเดิมที่ตกทอดมาจากรุ่นสู่รุ่น และผสมผสานเข้ากับวัตถุดิบท้องถิ่นที่สดใหม่และมีคุณภาพสูง
      
      วิสัยทัศน์ของร้าน:
      
      ร้าน NAMKUB-Store มีวิสัยทัศน์ในการนำเสนอประสบการณ์การรับประทานอาหารที่ยอดเยี่ยมให้แก่ลูกค้าทุกคน ด้วยเมนูที่ผสมผสานความหลากหลายของอาหารไทยและอาหารตะวันตกได้อย่างลงตัว เรามุ่งมั่นที่จะให้บริการอาหารที่ไม่เพียงแต่มีรสชาติที่ยอดเยี่ยมเท่านั้น แต่ยังต้องมีคุณภาพสูงสุดและปลอดภัยสำหรับทุกคน
      
      บรรยากาศและบริการ:
      
      บรรยากาศภายในร้าน NAMKUB-Store ถูกออกแบบให้เป็นสถานที่ที่อบอุ่นและเป็นกันเอง ไม่ว่าคุณจะมาทานอาหารกับครอบครัว เพื่อน หรือคู่รัก เราพร้อมต้อนรับคุณด้วยบริการที่เป็นมิตรและใส่ใจในทุกรายละเอียด
      
      เมนูที่โดดเด่น:
      
      เมนูของเราได้รับการรังสรรค์ด้วยความพิถีพิถัน และมีเมนูเด่นที่คุณไม่ควรพลาด เช่น "ข้าวผัดน้ำพริกลงเรือ" ที่มีรสชาติอันเป็นเอกลักษณ์, "สเต็กเนื้อริบอาย" ที่นุ่มชุ่มฉ่ำ และ "แกงเขียวหวานไก่" ที่หอมมันเข้มข้น นอกจากนี้ เรายังมีเมนูขนมหวานและเครื่องดื่มหลากหลายให้เลือกสรรอีกด้วย
      
      ความสำเร็จและรางวัล:
      
      ในช่วงไม่กี่ปีที่ผ่านมา NAMKUB-Store ได้รับการยอมรับอย่างกว้างขวางและได้รับรางวัลจากหลากหลายองค์กรด้านอาหาร ทั้งในระดับท้องถิ่นและระดับประเทศ เราภูมิใจที่ได้เป็นส่วนหนึ่งในการสร้างความสุขและความทรงจำดีๆ ให้กับลูกค้าทุกคน
    </p>
  </div>
</div>
<h3>พนักงานของเรา</h3>
<div class="row">
  <div class="col-4">
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <div class="text-center" style=" border-radius: 50px;">
            <img src="assets/images/pkc.png" style="width: 100px;"class="rounded" >
          </div>
          <div class="card-body">
            <div class="card-title h5">
              มานะ
            </div>
            <p class="card-text">ตำแหน่ง: ผู้จัดการร้าน

              รายละเอียด:  เธอมีประสบการณ์ในการบริหารจัดการร้านอาหารและความสามารถในการจัดการทีมงานได้อย่างมีประสิทธิภาพ </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/man.jpg" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              มานี
            </div>
            <p class="card-text">พนักงานบริการที่มีทักษะการสื่อสารที่ดีและความสามารถในการตอบสนองความต้องการของลูกค้า</p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/man2.png" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              ปิติ
            </div>
            <p class="card-text">เป็นเชฟหัวหน้าของร้าน NAMKUB-Store ด้วยประสบการณ์กว่า 15 ปีในวงการอาหาร เขามีความเชี่ยวชาญในอาหารไทยและอาหารตะวันตก </p>
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="card">
          <div class="text-center">
            <img src="assets/images/man3.png" class="rounded" style="width: 100px;">
          </div>
          <div class="card-body">
            <div class="card-title h5">
              ปีเตอร์
            </div>
            <p class="card-text">ชื่อ: ปีเตอร์
              ตำแหน่ง: นักพัฒนาซอฟต์แวร์
              แผนก: เทคโนโลยีสารสนเทศ
              เบอร์ติดต่อ: 081-234-5678</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>