<h1>Menu</h1>
<hr><h3>savory food</h3>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets\images\seafood.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">seafood</h5>
                        <p class="card-text">1 จาน 500บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\seafood.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">seafood</h5>
                        <p class="card-text">1 จาน 500บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; margin-left:25px;">
                    <img src="assets\images\seafood.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">seafood</h5>
                        <p class="card-text">1 จาน 500บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="assets\images\seafood.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">seafood</h5>
                        <p class="card-text">1 จาน 500บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>