<h1>Menu</h1>
<hr><h3>savory food</h3>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets\images\kabab.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">kabab</h5>
                        <p class="card-text">1 จาน 200บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\seafood.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">seafood</h5>
                        <p class="card-text">1 จาน 500บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\gola-kabab.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">gola-kabab</h5>
                        <p class="card-text">1 จาน 400บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr><h3>dessert</h3>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets\images\banana caramel.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">banana caramel</h5>
                        <p class="card-text">1 ถ้วย 150บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\strawberry shortcake.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">strawberry shortcake.</h5>
                        <p class="card-text">1 จาน 150บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\oreo pots.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">oreo pots</h5>
                        <p class="card-text">1 ถ้วย 500บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
ิ้<hr><h3>Beverage</h3>
<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col-3 ">
                <div class="card" style="width: 18rem;">
                    <img src="assets\images\mutcha.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">matcha</h5>
                        <p class="card-text">1 แก้ว 50บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\cha-thai.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">cha thai.</h5>
                        <p class="card-text">1 แก้ว 50บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem; ">
                    <img src="assets\images\lemon tea.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">lemon tea</h5>
                        <p class="card-text">1 แก้ว 50บาท</p>
                        <a href="#" class="btn btn-primary">reservation</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>